name: test prover linux build without asm optimizations

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

jobs:
  test:
    strategy:
      matrix:
        go-version: [ 1.18.x ]
    runs-on: ubuntu-24.04
    steps:
      - name: Install Go
        if: success()
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
          cache: false
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Print CPU Info
        run: cat /proc/cpuinfo
      - name: Run tests
        # rapidsnark_noasm build tag is needed for older GitHub Action runners
        run: cd tests && go test -tags rapidsnark_noasm -v -covermode=count
