name: test-witness

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        containers:
          - 1.21.13
          - 1.22.7
          - 1.23.1
    runs-on: ubuntu-24.04
    container: golang:${{matrix.containers}}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            /go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - run: cd witness && go test -race -timeout=60s -v ./...
      - run: cd witness/wazero && go test -race -timeout=60s -v ./...
      - run: cd witness/wasmer && go test -race -timeout=60s -v ./...
      - run: cd witness/test_wasm_impls && go test -race -timeout=300s -v ./...
